@model Car
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<dl>
    <dt>Brand</dt>
    <dd>@Model.Brand</dd>
    <dt>Model</dt>
    <dd>@Model.ModelName</dd>
    <dt>Price</dt>
    <dd>@Model.Price</dd>
    <dt>Action:</dt>
    <dd>
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> | 
        <a asp-action="ManageCarInsurances" asp-route-id="@Model.Id">Manage Car Insurances</a> | 
        <a asp-action="Index">Back to List</a>
    </dd>
</dl>

<table>
    <thead>
        <tr>
            <th>Date/Time</th>
            <th>Seller</th>
            <th>Buyer</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OwnerHistory)
        {
            <tr>
                <td>@item.TimeOfSale</td>
                <td>@item.SellerName</td>
                <td>@item.BuyerName</td>
            </tr>
        }
    </tbody>
</table>